ul li ul
{
    display: none;
}

ul
{
    display: block;
    width: 200px;
    position: relative;
}

ul li:hover ul
{
    display: block;
    height: 100px;
}

ul li ul li:hover
{
    height: 20px;
}

/**/
ul li
{
    border: 1px solid black;
}
