p
{
  font-size: 16px;
}

ul
{
  display: block;
  position: relative;
  padding: 0px;
}

ul li
{
  position: relative;
  list-style-type: none;
}

ul li a
{
  background-color: blue;
  text-align: center;
  border: solid 1px black;
  border-radius: 15px;
  display: block;
  width: 200px;
  line-height: 25px;
  color: red;
  text-decoration: none;
}

ul li a:hover
{
  background-color: red;
  color: blue;
  color: black;
}
