a
{
  text-decoration: none;
}

/* První úroveň */
ul li:hover
{
  background-color: blue
}

ul li ul
{
  display: none;
}

ul
{
  display: block;
  width: 100%;

}

ul li
{
  background-color: black;
  border: 1px solid black;
  display: block;
  float: left;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 50px;
  padding-right: 50px;
}

ul li a
{
  color: #FFFFFF;
}

/* */

/* Druhá úroveň */
li:hover ul
{
  display: block;
  position: absolute;
  left: 8px;
  z-index: 200;
}

ul li ul li
{
  margin-bottom: 20px;
  background-color: blue;
}

ul li ul li a
{
  color: white;
}

ul li ul li:hover
{
  background-color: black;
}
/* */
